.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 5px;
  padding: 5px 7px 7px 5px;
  color: white;
  background: var(--main-bg-color);
  border: 2px solid white;
  cursor: pointer;
}

.btn:hover {
  font-weight: 1000;
  transform: translate3d(0px, -1px, 0px);
  transition: 0.13s ease-in-out;
  color: black;
  border-color: #000000;
}

.my-1 {
  margin: 5px 0;
}
.my-2 {
  margin: 23px 0;
}

.text-center {
  text-align: center;
}
